<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.podman.machine-default</string>

	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/podman</string>
		<string>machine</string>
		<string>start</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>AbandonProcessGroup</key>
	<true/>

	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>

	<key>StandardOutPath</key>
	<string>/tmp/podman-machine-start.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/podman-machine-start.log</string>

	<key>ProcessType</key>
	<string>Background</string>
</dict>
</plist>
